<app-navbar></app-navbar>
<div class="container">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur ea voluptates debitis nam autem ut. Error maiores sunt
    voluptate dicta asperiores provident expedita? A odit eligendi ratione vitae numquam minus?
  </p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque soluta tempora saepe quasi fugiat repellat explicabo,
    laboriosam inventore facilis veniam perspiciatis id maxime. Quibusdam officiis laboriosam, distinctio ab aperiam exercitationem.
  </p>
</div>